<% if (message !=='undefined' ) { %>
<div class="alert alert-success" role="alert"><%= message %></div>
<% } %>

<h2>Get Logged-In</h2>
<form method="post" action="/login">
  <div class="mb-3">
    <label for="exampleInputText1" class="form-label">Username</label>
    <input
      name="username"
      type="text"
      class="form-control"
      id="exampleInputText1"
      aria-describedby="username"
    />
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input
      name="password"
      type="password"
      class="form-control"
      id="exampleInputPassword1"
      aria-describedby="password"
    />
    <div id="password" class="form-text">
      Password should contains atleast 6-character.
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<br />
<div>New Here ? <a href="/register">Register</a></div>
